<div class="display-container">
  <style>
    section {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  </style>
  <section>
    <p class="header-text text-center p-1">groceries</p>
    <app-groceries></app-groceries>
  </section>
  <section>
    <p class="header-text text-center p-1">todos</p>
    <app-to-do-list></app-to-do-list>
  </section>

  <section>
    <p class="header-text text-center p-1">Events</p>
    <app-events-display></app-events-display>
  </section>
</div>
