<app-nav></app-nav>

<div class="top-space"></div>

<router-outlet></router-outlet>
<div class="top-space"></div>

@if(openpage()!== ''){

<div (click)="toggleFloatMenu()" class="floating-btn normal-text" #floatToggler>
  <i class="lni lni-plus"></i>
</div>
}

<div class="floating-menu" #floatMenu>
  @if(openpage() === 'home' || openpage() === 'todos'){

  <div class="menu-item normal-text" (click)="modals.openModal('add-grocery')">
    <span>groceries</span> <span> <i class="lni lni-plus"></i></span>
  </div>
  <div class="menu-item normal-text" (click)="modals.openModal('add-event')">
    <span>event</span> <span> <i class="lni lni-plus"></i></span>
  </div>
  <div class="menu-item normal-text" (click)="modals.openModal('add-todo')">
    <span>to do</span> <span> <i class="lni lni-plus"></i></span>
  </div>
  } @if(openpage() === "projects"){
  <div
    class="menu-item normal-text"
    (click)="modals.openModal('create-project')"
  >
    <span>project</span> <span> <i class="lni lni-plus"></i></span>
  </div>

  } @if(openpage() === "routines"){
  <div class="menu-item normal-text" (click)="modals.openModal('add-routine')">
    <span>routine</span> <span> <i class="lni lni-plus"></i></span>
  </div>
  }
</div>

<app-add-todo></app-add-todo>
<app-add-grocery></app-add-grocery>
<app-add-event></app-add-event>
<app-add-routine></app-add-routine>
